#Node
node_modules/*

# IDE Files
.vscode
.tags

# System files
.DS_Store

# Stored config
localStorage
test-localStorage

# Bot settings
config/bot.js
config/import.json

# Test builds
test/tests.js

# Built CSS files
*.css
