#mb_join, #mb_leave, #mb_trigger, #mb_announcements {
    h3 {
        margin: 0 0 5px 0;
    }

    .add {
        @extend .top-right-button;
    }

    .msg {
        @extend .third-box;
    }

    input, textarea {
        border: 2px solid #666;
        width: calc(100% - 10px);
    }

    textarea {
        resize: none;
        overflow: hidden;

        padding: 1px 0;

        height: 21px;
        transition: height $animation-time;
    }
    textarea:focus {
        height: 5em;
    }

    input[type="number"] {
        width: 5em;
    }
}
