html, body {
	min-height: 100vh;
	position: relative;
	width: 100%;
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif
}

a {
	cursor: pointer;
	color: #182b73;
}

#container > div:not(#header) {
	display: none;
	padding: 10px;
}

#container > div.visible:not(#header) {
	display: block;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 8999;
	background: rgba(0, 0, 0, 0.6);
	transition: opacity 0.5s;
}

#header {
	height: 80px;
	width: 100%;
	background: #051465 url("http://portal.theblockheads.net/static/images/portalHeader.png") no-repeat;
	background-position: 50px 0;
}

#mainNav {
    color: #fff;
    background: #182b73;
	padding-bottom: 50px;
    display: block;
    width: 250px;
    position: absolute;
    top: 0;
	left: -250px;
	bottom: 0;
    z-index: 9999;
    transition: left 0.5s;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#toggle {
	display: none;
}

#mainToggle {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	padding: 5px;
	position: absolute;
	top: 5px;
	left: 5px;
	opacity: 1;
	transition: left 0.5s, opacity 0.5s;
	z-index: 9999;
}

.tab, .tab-header {
	display: block;
	padding: 10px 0;
	text-align: center;
}

.tab-header {
	padding: 10px 0 5px;
}

.tab, .tab-group {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tab-body > .tab {
	border-bottom: 1px solid #182B73;
}

.tab.selected {
	background: radial-gradient(#7D88B3, #182B73);
}

.tab-body > .tab.selected {
	background: radial-gradient(#182B73, #7D88B3);
}

.tab-header-toggle {
	display: none;
}

.tab-header {
	display: block;
	text-align: center;
}

.tab-body {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	width: 80%;
	margin-left: 10%;
}

.tab-header-toggle ~ .tab-body {
	overflow: hidden;
	max-height: 0;
	margin-bottom: 5px;
	transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.tab-header-toggle ~ .tab-header:after {
	font-size: 50%;
	content: "▼";
	position: relative;
    top: -0.25em;
    left: 0.5em;
}

.tab-header-toggle:checked ~ .tab-body {
	display: block;
    transition: 0.5s ease-in;
    max-height: 1000px; /*overkill, but needs to be set */
    overflow: hidden;
}

.tab-header-toggle:checked ~ .tab-header:after {
	content: "▲";
}

#mb_console > div:nth-child(1) {
	height: calc(100vh - 220px);
}

@media screen and (min-width: 668px) {
	#mb_console > div:nth-child(1) {
		height: calc(100vh - 150px); /* On desktops, put the input lower down */
	}
}

#mb_console > div > ul {
	height: 100%;
	overflow-y: auto;
	width: 100%;
	margin: 0;
	padding: 0;
}

.mod > span:first-child {
	color: #05f529;
}
.admin > span:first-child {
	color: #2b26bd;
}

#mb_console > div:nth-child(2) {
	display: flex;
}

#mb_console input, #mb_console button {
	padding: 5px;
    font-size: 1em; /* Disable zoom in on iOS */
    margin: 5px 0;
}

#mb_console input {
	flex: 1;
	border: solid 1px #999;
}

#mb_console button {
	background-color: #182b73;
	font-weight: bold;
	color: white;
	border: 0;
	height: 40px;
}

#toggle:checked ~ #mainToggle {
	left: 255px;
	opacity: 0;
	transition: left 0.5s, opacity 0.5s;
}

#toggle:checked ~ #navOverlay {
	visibility: visible;
	opacity: 1;
}

#toggle:checked ~ #mainNav {
    left: 0;
    transition: left 0.5s;
}

#alert {
	visibility: hidden;
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	top: 50px;
	margin: auto;
	background: #fff;
	width: 50%;
	border-radius: 10px;
	padding: 10px 10px 55px 10px;
	min-width: 300px; /* iOS width - 20px for padding*/
	min-height: 200px;
	z-index: 8000;
}

#alert > div {
	webkit-overflow-scrolling: touch; /* iOS */
	max-height: 65vh;
	overflow-y: auto;
}

#alert > .buttons {
	position: absolute;
	bottom: 10px;
	left: 5px;
}

.button {
	color: #000;
	display: inline-block;
	padding: 6px 12px;
	margin: 0 5px;
	font-size: 14px;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background: #fff linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
}

.button-sm {
	padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.success, .info, .danger, .warning {
	color: #fff;
}

.success {
	background: #5cb85c linear-gradient(to bottom, #5cb85c 0, #419641 100%);
	border-color: #3e8f3e;
}

.info {
	background: #5bc0de linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%);
	border-color: #28a4c9;
}

.danger {
	background: #d9534f linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
	border-color: #b92c28;
}

.warning {
	background: #f0ad4e linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
	border-color: #e38d13;
}

#alertOverlay {
	z-index: 7999;
}

#alert.visible, #alertOverlay.visible {
	visibility: visible;
	opacity: 1;
}

.notification {
	color: #fff;
	position: fixed;
	top: 1em;
	right: 1em;
	opacity: 0;
	min-width: 200px;
	border-radius: 5px;
	background: #051465;
	padding: 5px;
	transition: opacity 2s;
}
.notification.visible {
	opacity: 1;
}

.msg, .ext {
	position: relative;
	width: calc(33% - 19px);
	min-width: 280px;
	margin-left: 5px;
	margin-bottom: 5px;
	border: 3px solid #878787;
	border-radius: 10px;
	float: left;
	padding: 5px;
}

.ext p {
	margin: 0;
}

.msg:nth-child(odd), .ext:nth-child(odd) {
  background: #C6C6C6;
}

.msg > input {
	width: calc(100% - 10px);
	border: 2px solid #666;
}
.msg > input[type="number"] {
	width: 5em;
}

.descgen {
	margin: 0 0 5px 0;
}

.add, #mb_load_man {
	position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 90px;
    right: 12px;
    width: 30px;
    height: 30px;
    background: #182B73;
    border: 0;
    color: #FFF;
}
#mb_load_man {
	width: inherit;
	padding: 0 7px;
}

#jMsgs, #lMsgs, #tMsgs, #aMsgs, #exts {
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px solid;
	height: calc(100vh - 165px);
}

.ext {
	height: 120px;
}

.ext > h4 {
	margin: 0;
}

.ext > button {
	position: absolute;
	bottom: 7px;
	padding: 3px 8px;
}

.tabContainer > div {
	display: none;
	min-height: calc(100vh - 175px);
}

.tabContainer > div.visible {
	display:block;
}

.botTabs {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.botTabs > div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 40px;
    margin-top: 5px;
	margin-right: 5px;
    min-width: 120px;
    background: #182B73;
    color: #FFF;
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.botTabs > div:last-child {
	margin-right: 0;
}

.botTabs > div.selected {
    color: #000;
    background: #E7E7E7;
}
