@import 'config'

#mb_console
    height: calc(100% - 3.5em)

    .mod > span:first-child
        color: $mod-color

    .admin > span:first-child
        color: $admin-color

    .chat
        margin: 0 1em
        max-height: 100%
        overflow-y: auto

    .chat-control
        position: fixed
        bottom: 0
        width: 100vw
        .control
            margin: 1em
