#mb_join, #mb_leave, #mb_trigger, #mb_announcements
    > h3
        margin: 0 0 5px 6em
    > span
        margin-left: 6em

    input[type="number"]
        width: 5em

#jMsgs, #lMsgs, #tMsgs, #aMsgs
    border-top: 1px solid #000

    small
        color: #777
