$mod-color: #05f529;
$admin-color: #2b26bd;

#console {
    .mod > span:first-child {
        color: $mod-color;
    }

    .admin > span:first-child {
        color: $admin-color;
    }

    .chat {
        margin: 0 1em;
        height: calc(100vh - 52px - 4.25em);
        overflow-y: auto;
    }

    .chat-control {
        position: fixed;
        bottom: 0;
        width: 100vw;
        background: #fff;
        .field {
            margin: 1em;
        }
    }
}

