$primary: #182b73;
$primary-inverse: #fff;
// Bulma default is pinkish, looks odd with blue primary color
$red: #f00;

$left-slider-size: 250px;

@import 'node_modules/bulma/bulma';
// Bulma tries to make this scroll.
html {
    overflow-y: auto !important;
}

// Allow fixed headers with an offset
.header.is-fixed-top {
    z-index: 1030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.has-fixed-nav {
    position: relative;
    top: 52px;
}
// This requires a z-index for models
.modal {
    z-index: 1050;
}

// Bulma provides is-medium and is-large -- this is 1/3rd the default size.
.section.is-small {
    padding: 1rem 1.5rem;
}

// For those times you want a textarea to expand only when focused, staying small if possible
.textarea.is-fluid {
    min-height: 1em;
    overflow: hidden;
    resize: none;
    transition: min-height 0.3s;

    &:focus {
        min-height: 6em;
        overflow: auto;
    }
}

// Allow an inverse navigation with light text and a dark background
.nav-inverse {
    background: $primary;

    a.nav-item {
            color: darken($primary-inverse, 5%);
        &:hover {
            color: mix($primary, $primary-inverse, 20%);
        }
        &.is-active {
            color: $primary-inverse;
        }
        &.is-tab:hover {
            border-bottom-color: $primary-inverse;
        }
        &.is-tab.is-active {
            border-bottom: 3px solid $primary-inverse;
            color: $primary-inverse;
        }
    }
}

.nav-slider-container {
    // The left navigation slide out menu
    .nav-slider {
        // Take up the full height of the screen, and always be in view
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1040;

        overflow-y: auto;
        text-align: center;
        background: $primary;
        color: $primary-inverse;

        // Hidden if the active class is not applied
        left: -$left-slider-size;
        width: $left-slider-size;
        &.is-active {
            left: 0;
        }
        // Animate into view
        transition: left 0.5s;

        // Anything the user can click
        .nav-item {
            // iOS bugs out if this is left out.
            cursor: pointer;

            display: block;
            padding-top: 10px;
            padding-bottom: 9px;
            background: rgba(#fff, 0.1);

            // Show a bar to the left indicating that this is the current tab if selected.
            &.is-active {
                background: linear-gradient(to right, rgba(#fff, 0.4), rgba(#fff, 0.1) 5%);
            }
        }

        // Fix spacing with groups
        .nav-item[open] > summary {
            margin-bottom: 9px;
        }

        .nav-item:not(:last-child) {
            border-bottom: 1px solid #fff;
        }
    }

    // Overlay that can be clicked to hide the menu
    .nav-slider ~ .is-overlay {
        background: rgba(0, 0, 0, 0.5);
        z-index: 1035;
        visibility: hidden;
        position: fixed;
        opacity: 0;
        transition: opacity 0.75s;
    }

    // Show overlay when menu is open
    .nav-slider.is-active ~ .is-overlay {
        visibility: visible;
        opacity: 1;
    }
}

#container > div:not(.visible) {
    display: none;
}

#container > div {
    position: relative;
    height: calc(100vh - 52px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

// For alerts
.bot-notification {
    position: fixed;
    top: 0.6em;
    right: 1em;
    z-index: 1035;

    min-width: 200px;
    border-radius: 5px;
    padding: 5px;
    background: $primary-inverse;
    color: $primary;

    opacity: 0;
    transition: opacity 1s;
    &.is-active {
        opacity: 1;
    }
}

#alert textarea {
    min-height: 250px;
}
