// NOTE: Do not use a single quote in this file.

$font-stack: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
$primary-background: #fff;
$secondary-background: #182b73;
$primary-text: #000;
$secondary-text: #fff;
$accent-text: #182b73;
$animation-time: 0.5s;

html, body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    margin: 0;
    font-family: $font-stack;
    color: $primary-text;
}
//By default, these inherit from the browser rather than html.
textarea, input, button, select {
    font-family: inherit;
}

a {
    cursor: pointer;
    color: $accent-text;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    background: transparentize(#000, 0.3);

    visibility: hidden;
    opacity: 0;
    transition: opacity $animation-time;
    &.visible {
        visibility: visible;
        opacity: 1;
        transition: opacity $animation-time;
    }
}

#botTemplates {
    display: none;
}

header {
    background: $secondary-background url('http://portal.theblockheads.net/static/images/portalHeader.png') no-repeat;
    background-position: 80px;
    height: 80px;
}

#jMsgs, #lMsgs, #tMsgs, #aMsgs, #exts {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid;
    height: calc(100vh - 165px);
}

.third-box {
    position: relative; //Allow absolute positioning within the box
    float: left;

    width: calc(33% - 19px);
    min-width: 280px;

    padding: 5px;
    margin-left: 5px;
    margin-bottom: 5px;

    border: 3px solid #999;
    border-radius: 10px;

    &:nth-child(odd) {
        background: darken(#fff, 20%);
    }
}

.top-right-button {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 10px;
    right: 12px;
    width: 30px;
    height: 30px;
    background: #182B73;
    border: 0;
    color: #FFF;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 5px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparentize(#000, 0.85);
    border-radius: 6px;
    background: #fff linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
}

@import 'navigation';

@import 'console';
@import 'settings';
@import 'messages';
@import 'extensions';

@import 'alerts';
