@import "config"

.bot-notification
    position: fixed
    top: 0.6em
    right: 1em
    z-index: 1035

    min-width: 200px
    border-radius: 5px
    padding: 5px
    background: $primary-inverse
    color: $primary

    opacity: 0
    transition: opacity 1s
    &.is-active
        opacity: 1
