$family-primary: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;

$primary: #182b73;
$primary-inverse: #fff;

// Bulma default is pinkish, looks odd with blue primary color
$red: #f00;

$mod-color: #05f529;
$admin-color: #2b26bd;

$left-slider-size: 250px;
