<header class="header is-fixed-top">
  <nav class="nav-inverse nav has-shadow">
    <div class="nav-left">
      <div class="nav-item nav-slider-toggle">
        <img src="https://i.imgsafe.org/80a1129a36.png">
      </div>
      <a class="nav-item is-tab nav-slider-toggle">
        Menu
      </a>
    </div>
  </nav>
</header>

<div class="nav-slider-container">
    <nav class="nav-slider" data-tab-group="main"></nav>
    <div class="overlay"></div>
</div>

<div id="container" class="has-fixed-nav"></div>
